body {
  color: rgb(196, 199, 197);
  background-color: rgb(32, 33, 36);
}

.search-container {
  background-color: rgb(32, 33, 36);
  border-bottom: 1px solid rgb(60, 64, 67);
  justify-content: center;
}

.search-col {
  max-width: 40rem;
}

.search-input:focus {
  background-color: rgb(60, 64, 67);
  border-color: rgb(60, 64, 67);
  color: rgba(255,255,255,.87);  
}

.search-input {
  background-color: rgb(60, 64, 67);
  border-color: rgb(60, 64, 67);
  color: rgba(255,255,255,.87);
}

.intro-container {
  background-color: rgb(41, 42, 45);
  justify-content: center;
}

.stories-container {
  background-color: rgb(41, 42, 45);
  justify-content: center;
}

.stories-col {
  border-radius: 1rem;
  background-color: rgb(32, 33, 36);
  padding: 0 2rem;
  margin: 2rem;
  max-width: 40rem;
}

.name-col {
  max-width: 40rem;
}

.weather-col {
  max-width: 40rem;
  display: flex;
  justify-content: flex-end;
}

.weather-card {
  max-height: 6rem;
  max-width: 17rem;
  margin-top: 2rem;
}

.weather-card > .card-body {
  padding: 0 1rem 0 0;
  display: flex;
}

.weather-card .weather-text-container {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

.weather-card .card-text {
  margin-bottom: 0;
  width: 100%;
}

.stories-card,
.weather-card {
  background-color: rgb(32, 33, 36);
  border-width: 0;
}

.stories-card > .card-img-top {
  border-radius: 1rem;
}

.stories-message {
  font-size: 0.8rem;
  padding-left: 0.5rem;
}